nav {
  background-color: #61dafb;
}
.countries {
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex-direction: column;
}
.country-container {
  display: flex;
  flex-direction: row;
}
.list {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.country {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 5px 0;
}